*{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
hr{
    margin: 2% 3%;
}
.index_a{
    text-decoration: none;
    color: white;
}
body{
    background-color: #1B1B1B;  
}
header{
    margin: 0% 1% 0% 0%;
    padding: 0%;
    align-items: center;

}
main{
    height: 475px;
    width: auto;
    margin: 1% 10%;
    align-items: center;
}
footer{
    margin: 1%;
}
.underline{
    text-decoration: underline;
}
.index_div{
    height: auto;
    width: 20em;
    border: 2px solid black;
    display: inline-block;
    background-color: lightblue;
    margin: 10px;
    padding: 2%;
}
.index_div_conc{
    height: auto;
    width: auto;
    border: 2px solid black;
    display: inline-block;
    background-color: lightblue;
    margin: 10px;
    padding: 1%;
}
.index_main{
    margin-top: 2em;
}
.index_bar{
    text-align: center;
    text-transform:uppercase;
    padding: 0% 0%;
    margin: 0%;
    width: 100%;
    height: auto;
    background-color: #1B1B1B;
}
.index_nav{
    padding: 1% 1%;
    text-decoration: none;
    color: white;
}
.ven_div{
    height: auto;
    width: auto;
    display: inline-block;
    margin: 10px;
    padding: 2%;
}
.div_loop_ven{
    margin: 10% 0%;
}
.table_ven{
    margin: 0%;
    font-size: 1.5em;
    color: white;
    text-align: center;
    border-collapse: collapse;
}
td, th{
    width: 20em;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    padding: 2% 0%;
    margin: 0%;
}
tr:hover{
    background-color: lightblue;
}
.index_nav:hover{
    background-color: rgb(66, 84, 90);
}
.edit_div{
  color: white;
  background-color: lightblue;
  width: 9em;
  padding: 1%;
}
.add_div{
  display: inline-table;
  align-items: center;
  width: 8em;
  border: 1px solid white;
}

.column {
    float: left;
    width: 24%;
    margin: 0px 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px 5px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 60%;
  }
  
  .button:hover {
    background-color: #555;
  }

